extends ../layout/default.pug

block append style
  link(rel="stylesheet" href="/css/demo.css")

block append script
  script(src="/js/jquery-3.2.1.min.js")
  script(src="/js/socket.io.js")
  script(src="/js/demo.js")

block content
  h1 设备列表(websocket版)
  ul#devices
    //- each d in devices
    //-  li
    //-    span #{d.name}
    //-    ul
    //-      each val, index in d.attributes
    //-        li #{index} = #{val}
