extends ../layout/default.pug

block title
  title 绿米DEMO

block append style

block append script

block content
  a(href="https://aiot-oauth2.aqara.cn/authorize?client_id=e3880978a5d056421909f782&response_type=code&redirect_uri=http://localhost:3000/access_token") 登录AIOT
